// webfont mixin

@mixin font-face($style-name, $file, $family) {
    $filepath: $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
}

// css3 animations

.center,
.hamburger,
.hamburger:before,
.hamburger:after {
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

// clear css3 animations

.off {
    transition: none;
}

// basic configuration

a,
input,
select,
textarea,
button {
    outline: 0 none;
}

* {
    box-sizing: border-box;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

// fitvids

.fit-video {
    width: 100%;
}

// custom colors

$light: #f6fcee;
$green: #5ed9d6;
$gray: #2d2d2d;

$blue: #5ed9d6;
$dark-blue: #21aabd;
$red: #be2525;

// custom

::-moz-selection {
    background: $green;
    color: $green;
}

::selection {
    background: $green;
    color: $green;
}

body {
    overflow: hidden;
    background: $light;
    color: $green;
    font-family: 'Courier New', monospace;
    font-size: 9px;
    line-height: 9px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// commom

.title {
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid $green;
    margin: 0;
}

.list {
    a {
        color: $green;
        text-decoration: none;
    }
}

// hamburger

.hamburger {
    float: right;
    width: 11px;
    height: 10px;
    border-radius: 6px 6px 3px 3px;
    border: 1px solid $gray;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $gray;
        //transition-duration: 300ms;
    }

    &:before {
        margin-top: -1px;
    }

    &:after {
        margin-top: 1px;
    }

    &:hover {
    }
}

// keyboard

.keyboard {
    float: right;
    width: 11px;
    height: 11px;
    position: relative;
    right: -2px;

    .horizontal-keys,
    .vertical-keys {
        &:before,
        &:after {
            content: '';
            border: 1px solid $gray;
            width: 4px;
            height: 4px;
            float: left;
            position: absolute;
        }
    }

    .horizontal-keys {
        &:before {
            left: -5px
        }
        &:after {
            left: 5px;
        }
    }
    .vertical-keys {
        &:before {
            top: -5px
        }
        &:after {
            top: 0;
        }
    }
}

// header

header {
    top: 10%;
    left: 0;
    position: fixed;
    z-index: 73;
    color: $gray;

    .title {
        float: left;
    }
}

// main

.main {
}

// background video

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

// footer

footer {
    position: fixed;
    bottom: 10%;
    left: 0;
}

// fullpage.js

#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}

.fp-section {
    position: relative;
    overflow: hidden;
}

.fp-slide {
    float: left;
}

.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block;
}

.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

#fp-nav {
    top: 37%;
    opacity: 1;
    padding: 0 12px;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 1px;
        background: $gray;
        left: 50%;
        top: -100%;
        margin: -5px 0 0 -1px;
    } 

    &.right {
       right: 5.55555%;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            width: 11px;
            height: 11px;
            margin: 2px 0;
            position: relative;

            a {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: pointer;
                text-decoration: none;

                span {
                    border-radius: 0px;
                    position: absolute;
                    z-index: 1;
                    height: 5px;
                    width: 5px;
                    background: transparent;
                    border: 1px solid $gray;
                    left: 50%;
                    top: 50%;
                    margin: -2px 0 0 -3px;
                }

                &.active span {
                    height: 1px;
                    width: 11px;
                    margin: 0 0 0 -6px;
                    border-radius: 0px;
                    background: $gray;
                    border: 0;
                }
            }

            .fp-tooltip {
                top: 2px;
                font-family: "ocr-a-std", "Courier New";
                font-size: 9px;
                text-transform: uppercase;
                color: $gray;

                &.right {
                    right: 50px;
                }
            }

            &:hover {
                span {
                    height: 1px;
                    width: 11px;
                    margin: -6px 0 0 -7px;
                    border-radius: 0px;
                }

                a {
                    span,
                    &.active span {
                        border-radius: 0px;
                        width: 11px;
                        height: 11px;
                        margin: -6px 0px 0px -6px;
                    }
                }

                .fp-tooltip {
                    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);;
                    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);;
                    width: auto;
                    opacity: 1;
                    right: 73px;
                }
            }
        }
    }
}

// imports

@import "grid.scss";
@import "print.scss";