// webfont mixin

@mixin font-face($style-name, $file, $family) {
    $filepath: $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
}

// css3 animations

.center,
.title,
.title a,
#fp-nav,
#fp-nav:before,
#loading,
.hamburger,
.hamburger:before,
.hamburger:after {
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

// clear css3 animations

.off {
    transition: none;
}

// basic configuration

a,
input,
select,
textarea,
button {
    outline: 0 none;
}

* {
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

header,
.main,
footer {
    float: left;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

// fitvids

.fit-video {
    width: 100%;
}

// custom colors

$light: #f6fcee;
$green: #5ed9d6;
$gray: #2d2d2d;

// custom

::-moz-selection {
    background: $green;
    color: $green;
}

::selection {
    background: $green;
    color: $green;
}

body {
    overflow: hidden;
    background: $light;
    color: $green;
    font-family: 'Courier New';
    font-size: 9px;
    line-height: 9px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    a {
        color: $gray;
        text-decoration: none;
        border-bottom: 1px solid $green;
        cursor: pointer;
    }
}

// commom

.title {
     width: 100%;
     color: $gray;
     font-family: 'Times New Roman';
     font-style: italic;
     font-size: 12vw;
     line-height: 12vw;
     font-weight: 100;
     text-transform: uppercase;
     text-align: center;
     letter-spacing: -5px;
     text-indent: -15px;

     a {
        padding: 0 30px;
        border: 0;

        &:hover {
            color: $light;
        }
     }
}

// loading

#loading {
    background: $light;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000000;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .loading-activity {
        display: block;
        position: fixed;
        z-index: 2000;
        top: 50%;
        right: 50%;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-right: -4px;
        border: 1px solid $gray;
        color: $gray;
        animation: load-spinner 2000ms cubic-bezier(0.19, 1, 0.22, 1) infinite;
    }
}

// versions

#versions {
    float: left;
    margin: 0;

    a {
        position: relative;
        pointer-events: none;
        opacity: 0;
        left: 0;
    }
}

// hamburger

.hamburger {
    float: right;
    width: 11px;
    height: 10px;
    border-radius: 6px 6px 3px 3px;
    border: 1px solid $gray;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $gray;
    }

    &:before {
        margin-top: -1px;
    }

    &:after {
        margin-top: 1px;
    }
}

// keyboard

.keyboard {
    float: right;
    width: 13px;
    height: 9px;
    position: relative;
    right: -5px;
    pointer-events: none;

    .horizontal-keys,
    .vertical-keys {
        &:before,
        &:after {
            content: '';
            border: 1px solid $gray;
            width: 3px;
            height: 3px;
            float: left;
            position: absolute;
            pointer-events: none;
        }
    }

    .horizontal-keys {
        &:before {
            left: -4px
        }

        &:after {
            left: 4px;
        }
    }
    .vertical-keys {
        &:before {
            top: -4px
        }

        &:after {
            top: 0;
        }
    }
}

// header

header {
    top: 10%;
    left: 0;
    position: fixed;
    z-index: 73;
    color: $gray;

    .logo {
        float: left;
        font-size: 9px;
        font-weight: normal;
        border-bottom: 1px solid $green;
        margin: 0 20px 0 0;
        cursor: pointer;
    }
}

// main

.main {
    .section {
        background-size: cover;
        background-position: center center;
    }

    #hello-wrapper {
        background-image: url(../img/hello.jpg);
    }

    #inkstarter-wrapper {
        background-image: url(../img/inkstarter.jpg);
    }

    #curisco-wrapper {
        background-image: url(../img/curisco.jpg);
    }

    #placevomit-wrapper {
        background-image: url(../img/placevomit.jpg);
    }

    #ijwgh-wrapper {
        background-image: url(../img/ijwgh.jpg);
    }

    #xxxxxxxooo-wrapper {
        background-image: url(../img/xxxxxxxooo.jpg);
    }

    #founders-wrapper {
        background-image: url(../img/founders.jpg);
    }

    #cacete-wrapper {
        background-image: url(../img/cacete.jpg);
    }
}

// info layer

.info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.table-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $gray;

    h2 {
        margin: 0 0 20px 0;
    }

    p {
        margin: 0 20%;
    }
}

// video background

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

// footer

footer {
    position: fixed;
    bottom: 10%;
    left: 0;
    pointer-events: none;
}

// fullpage.js

.fp-section {
    position: relative;
    overflow: hidden;
}

#fp-nav {
    top: 37%;
    padding: 0 12px;
    pointer-events: none;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        height: 0;
        width: 1px;
        background: $gray;
        left: 50%;
        top: -50%;
        margin: -2px 0 0 -1px;
        pointer-events: none;
    }

    &.right {
       right: 5.55555%;
    }

    &.active {
        pointer-events: all;

        &:before {
            height: 50%;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            width: 11px;
            height: 11px;
            margin: 2px 0;
            position: relative;
            opacity: 0;
            pointer-events: none;

            a {
                display: block;
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: pointer;
                text-decoration: none;
                border-bottom: 0;

                span {
                    border-radius: 0px;
                    position: absolute;
                    z-index: 1;
                    height: 5px;
                    width: 5px;
                    background: transparent;
                    border: 1px solid $gray;
                    left: 50%;
                    top: 50%;
                    margin: -2px 0 0 -3px;
                    cursor: pointer;
                }

                &.active span {
                    height: 1px;
                    width: 11px;
                    margin: 0 0 0 -6px;
                    border-radius: 0px;
                    background: $gray;
                    border: 0;
                }
            }

            .fp-tooltip {
                top: 2px;
                font-family: "ocr-a-std", "Courier New";
                font-size: 9px;
                text-transform: uppercase;
                color: $gray;

                &.right {
                    right: 50px;
                }
            }

            &:hover {
                span {
                    height: 1px;
                    width: 11px;
                    margin: -5px 0 0 -7px;
                    border-radius: 0px;
                }

                a {
                    span,
                    &.active span {
                        border-radius: 0px;
                        width: 11px;
                        height: 11px;
                        margin: -5px 0px 0px -6px;
                    }
                }

                .fp-tooltip {
                    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);;
                    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);;
                    width: auto;
                    opacity: 1;
                    right: 73px;
                }
            }
        }
    }
}

// loading

@keyframes load-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// imports

@import "grid.scss";
@import "print.scss";

@media screen and (max-width: 719px) {
    #versions {
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    #fp-nav {
        top: auto;
        bottom: 20%;
    }

    .title {
        letter-spacing: 0;
    }
}