// webfont mixin

@mixin font-face($style-name, $file, $family) {
    $filepath: $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
}

// css3 animations

.center {
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

// fonts

@include font-face('camcorder', 'camcorder_ms_reg-webfont', 'monospace');

// clear css3 animations

.off {
    transition: none;
}

// basic configuration

a,
input,
select,
textarea,
button {
    outline: 0 none;
}

* {
    box-sizing: border-box;
}

header,
.main,
footer {
    display: block;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

// fitvids

.fit-video {
    width: 100%;
}

// custom colors

$blue: #5ed9d6;
$dark-blue: #21aabd;
$red: #be2525;

// custom

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

body {
    background: $blue;
    color: $red;
    font-family: camcorder;

    p {
        font-size: 10px;
    }
}

// header

header {
    position: absolute;

    .logo {
        float: left;
        //font-size: 7.3vw;
        font-weight: normal;
        font-size: 11px;
        margin: 0;

        a {
            background: $red;
            color: $blue;
            text-decoration: none;
            padding: 0 1.5vw;
        }
    }
}

// main

.main {

    svg {
        width: 10%;
    }

    // tiles

    .tile {
        float: left;
        width: 100%;
        height: 0;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        // background video

        .backgroundVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // project

        &.project {
            h2 {
                display: inline-block;
                font-size: 7.3vw;
                padding: 0 1.3vw;
                font-weight: normal;
                margin: 5.5vw 0 0 0;
            }

            p {
                display: inline-block;
                font-size: 4.5vw;
                padding: 0 1.3vw;
                font-weight: normal;
                margin: 0;
            }
        }

        // project - red

        &.red {
            background-color: $red;
            color: $blue;

            h2 {
                background: $blue;
                color: $red;
            }
        }

        // project - blue

        &.blue {
            background-color: $blue;
            color: $red;

            h2 {
                background: $red;
                color: $blue;
            }
        }
    }
}

// imports

@import "grid.scss";
@import "print.scss";